<h3>Bonjour <%= @order.first_name %>,</h3>
<p>Merci de votre confiance !</p>
<p>
  Veuillez trouver ci-joint le bon pour le <%= @order.product_name %> que vous venez d'acquérir sur www.lesgensdair.com
</p>

<p>Bon vols à vous !</p>

<p>Les Gens D'air
<br>
vincent@lesgensdair.com</p>
