<p>Bonjour <%= @order.first_name %>,</p>
<br>
<p>Merci de votre confiance !
  <br>
  Veuillez trouver ci-joint le bon pour le <%= @order.product_name %> que vous venez d'acquérir sur www.lesgensdair.com
  <br>
</p>
<p>Très bon vols à vous !</p>
<br>
<p>Les Gens D'air
<br>
vincent@lesgensdair.com</p>
