.simple_form label {
  float: left;
  width: 150px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form .form-control {
  margin-bottom: 10px;
  width: 60%;
}

input[type='checkbox'] {
      /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
}
