/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.card {
  padding: 50px;
  background-color: #D1D9E4;
  background-color: rgba(209, 217, 228, 0.7);
  border-radius: 5px;
  margin: 10px 0;
}

.introduction-title {
  background-color: #7FBF3C;
  margin: 0px 5vw;
  box-shadow: 1px 1px 3px #008000;
  border-radius: 5px;
  padding: 15px;
}

.products {
  margin: 0px 10vw;
}

#logo {
  margin: 30px 5vw 10px 5vw;
  max-width: 200px;
}

body {
  background-image: url("background-para.jpg");
  background-size: cover;
}
