/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

h3 {
  margin: 0px;
  font-size: 24px;
}


.introduction-title {
  background-color: #7FBF3C;
  margin: 10px 8vw;
  box-shadow: 1px 1px 3px #008000;
  border-radius: 5px;
  padding: 15px;
}

.introduction-title h3 {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

.conclusion-title {
  background-color: rgba(209, 217, 228, 0.7);
  margin: 0px 8vw;
  box-shadow: 1px 1px 3px grey;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.admin-options h3 {
  display: inline-block;
  margin-left: 20px;
}

.admin-options h4 {
  display: inline-block;
  float: right;
  margin-top: 3px;
  margin-right: 10px;
  a:hover {
    text-decoration: none;
  }
}

.filters {
  text-align: right;
}


#logo {
  margin: 30px 0 10px 8vw;
  max-width: 300px;
}

body {
  background: url("background-para2.jpg") no-repeat center fixed;
  background-size: cover;
}
