<div id="sheet">
  <div id="img-zone">
    <h1>Bon Cadeau</h1>
    <h2>Pour la personne de: <%= @first_name %> <%= @last_name %></h2>
    <h2>Bon pour un <%= @product_name %></h2>
  </div>
  <div id="green-rectangle">
  </div>
  <div id="logo-bon"></div>
  <div id="text-faq">
    <p>Période idéale de juin à septembre</p>
    <ul>
      <li>S'habiller chaudement</li>
      <li>Prendre de bonnes chaussures</li>
      <li>Manger léger (ou pas) avant le vol</li>
      <li>Signaler tout problème physique (besoin de courir au décollage et à l'atterrissage).</li>
      <li>Vous êtes assuré par le moniteur (diplômé d'État). Les vois se font à St-Pierre de Chartreuse sur le site de <i>La Scia</i>.</li>
      <li>Le rendez-vous se fera à St-Pierre. Mais il est possible que ce souit sur un autre site en fonction de la météo ou de votre demande.</li>
      <li>Dans l'idéal prenez rendez-vous par e-mail et proposez une ou deux dates.</li>
    </ul>
    <p>Les gens d'air vous recontactera pour fixer une heure et vous confirmera 2 jours avant, en fonction de la météo</p>
  </div>
</div>

<style>
  #sheet {
  border: 1px black;
  width: 1500px;
  display: block;
  background-color: #8AC9FD;
  position: relative;
}

#img-zone {
  height: 1600px;
  background-image: url("assets/background-para2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#text-faq {
  position: absolute;
  right: 100px;
  bottom: 200px;
}

h1 {
  font-family: Apple-Chancery;
  font-size: 150px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding-left: 40px;
}



h2 {
  font-family: GujaratiSangamMN;
  font-size: 80px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding-left: 40px;
}


/* Rectangle: */
#green-rectangle {
  background-color: #7FBF3C;
  border: 1px solid #979797;
  height: 500px;
  /*position: absolute;*/
}


/* logo: */
#logo-bon {
  width: 300px;
  height: 250px;
  background-image: url("assets/logo.png");
  /*  app/assets/images/logo.png*/
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;
  bottom: 200px;
  left: 100px;
}
</style>


