<!DOCTYPE html>
<html>
  <head>
    <title>Bon cadeau | Les Gens d'Air</title>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans:300,400" rel="stylesheet">
  </head>

  <body>
    <div id="sheet">
      <div id="img-zone">
       <div id="text-img-zone">
        <br><br><br><br><br>
         <h1>Bon Cadeau</h1>
         <h1><%= @product_name %></h1>
         <br><br><br>
         <h2>Pour la personne de: <%= @first_name %> <%= @last_name %></h2>

       </div>
      </div>
      <div id="green-rectangle">
      </div>
      <div id="logo-bon"></div>
      <div id="text-faq">
        <p>La période idéale pour voler est de juin à septembre</p>
        <ul>
          <li>S'habiller chaudement</li>
          <li>Prendre de bonnes chaussures</li>
          <li>Manger léger (ou pas) avant le vol</li>
          <li>Signaler tout problème physique (besoin de courir au décollage et à l'atterrissage).</li>
          <li>Vous êtes assuré par le moniteur (diplômé d'État). Les vois se font à St-Pierre de Chartreuse sur le site de La Scia.</li>
          <li>Le rendez-vous se fera à St-Pierre. Mais il est possible que ce souit sur un autre site en fonction de la météo ou de votre demande.</li>
          <li>Dans l'idéal prenez rendez-vous par e-mail et proposez une ou deux dates.</li>
        </ul>
        <p>Les gens d'air vous recontactera pour fixer une heure et vous confirmera 2 jours avant, en fonction de la météo</p>
      </div>
    </div>
  </body>
</html>







<style>
  #sheet {
  border: 1px black;
  width: 1500px;
  display: block;
  background-color: #8AC9FD;
  position: relative;
}

#img-zone {
  height: 1450px;
  background-image: url("assets/background-para2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#text-img-zone {

}

#text-faq {
  position: absolute;
  left: 80px;
  bottom: 80px;
}


h1 {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 80px;
  margin: 0px;
}

h2 {
  font-family:  'Open Sans', sans-serif;
  font-size: 42px;
}

h1, h2 {
  color: #FFFFFF;
  letter-spacing: 0;
  padding-left: 40px;
  text-shadow: #1D26D6 1px 1px, #1D26D6 -1px 1px, #1D26D6 -1px -1px, #1D26D6 1px -1px;
}

p, ul {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #FFFFFF;
  letter-spacing: 0;
  font-size: 22px;
  text-shadow: #989898 1px 1px;
}

/* Rectangle: */
#green-rectangle {
  background-color: #7FBF3C;
  border: 2px solid #007900;
  height: 500px;
  /*position: absolute;*/
}


/* logo: */
#logo-bon {
  width: 300px;
  height: 250px;
  background-image: url("assets/logo.png");
  /*  app/assets/images/logo.png*/
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;
  top: 80px;
  left: 80px;
}
</style>

